<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-script-type" content="text/javascript">
  <meta http-equiv="content-style-type" content="text/css">

  <title>地图</title>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="http://localhost:9292/faye.js"></script>
  <script type="text/javascript" src="js/jquery.omniwindow.js"></script>
  <script type="text/javascript" src="js/calendar.js"></script>
  <script type="text/javascript" src="js/chatwindow.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/gmaps.js"></script>  
  <script type="text/javascript" src="js/maphead.js"></script>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="css/examples.css" />
  
  
 <!--
  <style type="text/css"> 
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #333333;
        background-color: #c8c8c8;

      }
      
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
  -->


  

    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="Pictures/favicon.ico"> 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Pictures/apple-touch-icon-144-precomposed.png"> 
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Pictures/apple-touch-icon-114-precomposed.png"> 
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Pictures/apple-touch-icon-72-precomposed.png"> 
    <link rel="apple-touch-icon-precomposed" href="Pictures/apple-touch-icon-57-precomposed.png"> 



</head>
<body>

  <!-- Container for an overlay: 这个div是用来做发布活动还有乐聚猜弹出的遮罩的--> 
  <div class="ow-overlay ow-closed"></div> 

  <!-- Container for a modal window: found activity 弹出发布活动的区域部分，主要就是modal这个class控制 modal_a只是我单独添的class名 就是区分一下不同modal的 其他的都是发布活动的布局还有标签--> 
  <div class="modal ow-closed well modal_a" id="id_foundactivity_container">
    <button type="button" class="btn-mini pull-right close_a-button"><i class="icon-remove"></i></button>
    <h3>&nbsp;&nbsp;发布活动</h3>
    <ul></ul>
    <ul>
        <li>活动名称<input type="text" id="activity-name-input" class="input-xlarge" placeholder="6-20个汉字"
                       style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
        <!-- id="date-input"是日历1的特效 请见calendar.js的文件-->
        <li>开始时间<input type="text" id="start-time" class="input-xlarge" placeholder="请选择活动开始时间"
                       style="position:relative;left:30px;"/><a style="position:relative;left:60px;">*</a></li>
        <li>结束时间<input type="text" id="end-time" class="input-xlarge" placeholder="请选择活动结束时间"
                       style="position:relative;left:30px;"/><a style="position:relative;left:60px;">*</a></li>
        <li>活动类型
            <select id="type-input" class="input-xlarge" style="position:relative;left:30px;">
                <option value="旅游">旅游</option>
                <option value="体育">体育</option>
                <option value="吃货">吃货</option>
                <option value="电子竞争">电子竞争</option>
            </select>
        </li>
        <li>活动人数<input type="text" id="activity-number-input" class="input-xlarge" placeholder="请输入活动人数"
                       style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
        <li>邀请人员<input type="text" id="activity-people-input" class="input-xlarge" placeholder="请邀请人员参与活动"
                       style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
        <p></p>
        <li>活动描述<textarea class="span5" name="textArea1" id="activity-description-input" cols="30" rows="2"
                          placeholder="请对活动进行适当描述" style="position:relative;left:30px;"></textarea><a
                style="position:relative;left:60px;">*</a></li>
        <p></p>
        <li>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注<textarea class="span5" name="textArea1" id="activity-ps-input"
                                                            cols="30" rows="2" placeholder="请适当的添加备注"
                                                            style="position:relative;left:30px;"></textarea></li>
        <p></p>

        <p>
            <button type="submit" class="btn-large close_c-button" id="activity-submit"
                    style="position:relative;left:260px;">提交
            </button>
        </p>
    </ul>
</div>


<!-- Container for a modal window: leju guess 下面这个div跟上面的基本相同，是给乐聚猜 就是活动推荐用的--> 
    <div class="modal_b ow-closed well modal" id="id_recommend_container">
    <button type="button" class="btn-mini pull-right close_b-button"><i class="icon-remove"></i></button>
    <h3>&nbsp;&nbsp;活动推荐</h3>
    <ul></ul>
    <ul>
      </br></br></br></br>
      <li>活动主题<input type="text" id="recommend-title-input" class="input-xlarge" placeholder="6-20个汉字" style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
      </br></br></br></br>
      <!-- 下面id=“demo2”就是日历2的特效-->
      <li>活动时间<input type="text" id="demo2" class="input-xlarge" placeholder="请选择活动开始时间" style="position:relative;left:30px;"/><a style="position:relative;left:60px;">*</a></li>
      </br></br></br></br>
      <p><button type="submit" class="btn-large" id="recommend-submit" style="position:relative;left:260px;">活动推荐</button></p>
    </ul>
    </div>


<!-- fixed top bar--> 
    <div class="navbar navbar-fixed-top" id="id_topbar">
      <div class="navbar-inner"> 
        <div class="container-fluid">     
          <a class="brand" href="map.html" title="首页"> 乐 聚</a>  
          <div class="nav-collapse"> 
            <ul class="nav nav-pills">
              
              <li class="active"><a href="map.html">地  图</a>           
              </li>
              <li><a href="activity_home.htm">活  动</a></li>
              <li><a href="personalpage.html">个人主页</a></li>
              <li><a href="friends.html">好  友</a></li>
            </ul>

            <ul class="nav nav-pills pull-right">
            <li class="guess-button"><a href="#"><i class="icon-upload icon-white"></i> 活动推荐</a></li> 
            <li><a href="account_setting.html"><i class="icon-cog icon-white"></i> 设置</a></li>
            <li><a href="#"><i class="icon-off icon-white"></i> 退出</a></li>
                  

            </ul>           

            <form class="nav pull-right form-search input-append">
                <input type="text" id="search1" class="input-medium search-query input-append" placeholder="搜人/新动态"><button type="submit" id="search-submit1" class="btn"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills pull-right"> 
              <li class="dropdown" id="menu1">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu4">
              <img src="Pictures/pic1.png" title="通知和提醒">
              <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  <li><a href="#" id="remind1">提醒1</a></li>
                  <li><a href="#" id="remind2">提醒2</a></li>
                  <li class="divider"></li>
                  <li><a href="#" id="notice1">通知1</a></li>
                  <li><a href="#" id="notice2">通知2</a></li>
                </ul>
              </li>  
            </ul>
          </div>
        </div> 
      </div> 
    </div><!-- end fixed top bar--> 

<!-- 这个地方就是伸缩框的部分 相关js放在了chatwindow.js的最上面，很短，其实就是直接用了jquery， $('#opciones').slideToggle(); 用这一句控制了伸缩--> 
      <DIV id=settings>Settings</DIV>
      <DIV id=opciones style="overflow:scroll;overflow-x:hidden;">
          <form class="nav form-search input-append" id="listHeader">    
                <input type="text" id="search2" class="input-small search-query input-append" placeholder="搜人/新动态"><button type="submit" id="search-submit2" class="btn"><i class="icon-search"></i></button>
            </form>
        <table>
          <tr>
            <td>
              <img id="item2-pic" src="Pictures/资环学院.jpg">
              <a href="#" id="item2-name" style=" color:#ff7500;position:relative;bottom:14px;">
                &nbsp;资源与环境学院
              </a> 
            </td>
          </tr>

          <tr>
            <td>
              <p id="item2-title">活动名称：植树在行动！</p>
            </td>
          </tr>
          
          <tr>
            <td>
              <p id="item2-description">活动描述：植树在行动，需要您的参与！本次树苗不多，想要参加的同学尽快了！</p>
            </td>
          </tr>
          
          <tr>
            <td>
              <p id="item2-where">活动地点:植物园</p>
            </td>
          </tr>
          
          <tr>
            <td>
              <p id="item2-when">活动时间：2012年9月20日</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="item2-no">活动人数：80-120</p>
            </td>
          </tr>
          
          <tr>
            <td>
              <p id="item2-time">n天前</p>  
              <a class="pull-right" id="item2-details" onclick="ChatShow();">查看详情(220)&nbsp;&nbsp;&nbsp;</a>
            </td>
          </tr>
      </table>

      </DIV>

<!-- chatwindow 下面的东西是左边的聊天窗，内容也在chatwindow.js里--> 
    <div id="main" class="dragclass" style="right:328px;bottom:20px;">
    <div id="ChatHead">
      <a href="#" onclick="ChatHidden();">x</a>
    </div>
    <div id="ChatBody">
      <div id="ChatContent">
        <table background="Pictures/框3.png" style="height:333px;width:400px;table-layout:fixed; ">
          <tr style="height:40px;"><td>&nbsp;&nbsp;&nbsp;<img id="chat-activity-pic1" src="Pictures/资环学院.jpg"><a style="position:relative;left:10px;bottom:14px;" id="chat-activity-name" href="#">资源与环境学院</a></td></tr>
          <tr style="height:25px"></tr>
          <tr style="height:268px;text-align:center;"><td>
            <table style="width:360px;height:268px;table-layout:fixed;padding:20px; ">
              <tr style="height:200px;"><td style="width:200px;">
            <img src="Pictures/t2.jpg" id="chat-activity-pic2" style="width:140px;"></td>
            <td style="width:140px;height:100px;text-overflow: ellipsis;"><p id="chat-activity-description">植树在行动，需要您的参与！本次树苗不多，想要参加的同学尽快了！</p></td>
          </tr>
          
          <tr><td colspan="2"><p id="chat-time-a" style="display:inline-block">40分钟前</p><a href="#" id="chat-participate" style="display:inline-block;font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;参加(113)&nbsp;&nbsp;&nbsp;</a><a href="#" id="chat-comment" style="display:inline-block;font-size:12px;">评论(450)&nbsp;&nbsp;</a><a href="#" id="chat-transmit" style="display:inline-block;font-size:12px;">分享(117)&nbsp;&nbsp;</a></td></tr>
        </table>
          </td></tr>
        </table>
        <table>
        </br>
          <tr><td style="font-size:14px;font-weight:bold;">小成 说：</td><td style="font-size:14px;">请问还能继续报名吗？</td></tr>
        </table>
      </div><!--end of chatcontent -->

      <div id="ChatBtn">
        <form action="" name="chat" method="post">
        <textarea name="ChatValue" rows="2" style="width:380px;position:relative;left:10px;"></textarea>
        <input name="Submit" type="button"  value="回复" onclick="ChatSend(this.form);" style="position:relative;left:10px;" />
        <input name="Submit" type="button"  value="表情" style="position:relative;left:10px;"/>
        </form>
      </div>
    </div>
  </div><!-- end chatwindow-->

<!-- map--> 
        <div id="id_map">
          <div class="row row-fluid">
            <div class="span1"></div>
            <div class="span10">
              <div id="map"></div>
              
            </div>
          </div>
        </div> <!-- end map--> 

      <footer> 
        <input type="hidden" value="<%=@current_user.id%>" id="current_user_id" name="current_user_id">
        <p></p> 
      </footer>


      //此处放模板
      //有右下角活动列表的模板
<script type="text/template" id="tpl-activityList">
<table>
          <tr>
            <td>
              <img id="item2-pic" src="{{creator_photo}}">
              <a href="#" id="item2-name" style=" color:#ff7500;position:relative;bottom:14px;">
                &nbsp;{{creator_name}}
              </a> 
            </td>
          </tr>

          <tr>
            <td>
              <p id="item2-title">活动名称：{{title}}</p>
            </td>
          </tr>
          
          <tr>
            <td>
              <p id="item2-description">活动描述：{{content}}</p>
            </td>
          </tr>
          
          <tr>
            <td>
              <p id="item2-where">活动地点:{{address_line}}</p>
            </td>
          </tr>
          
          <tr>
            <td>
              <p id="item2-when">活动时间：{{time_start}} -- {{time_end}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="item2-no">活动人数：80-120</p>
            </td>
          </tr>
          
          <tr>
            <td>
              <p id="item2-time">n天前</p>  
              <a class="pull-right" id="item2-details" onclick="ChatShow();">查看详情(220)&nbsp;&nbsp;&nbsp;</a>
            </td>
          </tr>
      </table>
</script>

//marker的infoWindow
<script type="text/template" id="tpl-infoWindow">
    <div>
        <table>
            <tr>
                <td rowspan="2">
                    <img src="Pictures/艺术学院.jpg">
                </td>
                <td>
                    <a href="#">&nbsp;&nbsp;&nbsp;{{creator_name}}</a>
                </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        </br>

        <a href="#">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{content}}
        </a>
        </br></br>

        {{time_start}}
        <a class="pull-right" style="display:inline-block" href="#">分享(30)</a>
        <a class="pull-right" style="display:inline-block">转发(30)&nbsp;&nbsp;&nbsp;</a>
        <a class="pull-right" style="display:inline-block">参加(30)&nbsp;&nbsp;&nbsp;</a>
    </div>
</script>

    <script src="js/mustache.js"></script>   //需要新添加

    <script src="js/bootstrap-transition.js"></script> 
    <script src="js/bootstrap-alert.js"></script> 
    <script src="js/bootstrap-modal.js"></script> 
    <script src="js/bootstrap-dropdown.js"></script> 
    <script src="js/bootstrap-scrollspy.js"></script> 
    <script src="js/bootstrap-tab.js"></script> 
    <script src="js/bootstrap-tooltip.js"></script> 
    <script src="js/bootstrap-popover.js"></script> 
    <script src="js/bootstrap-button.js"></script> 
    <script src="js/bootstrap-collapse.js"></script> 
    <script src="js/bootstrap-carousel.js"></script> 
    <script src="js/bootstrap-typeahead.js"></script>   
</body>
</html>